* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.offer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C2E9EB;
    align-items: center;
}

.offer-section h4 {
    padding: 20px;
}

.offer-section__1 {
    border-bottom: 1px solid #A435F0;
    cursor: pointer;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__title {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 25%;
}

.navbar__title__1 {
    width: 30%;
    height: 40%;
    cursor: pointer;
}

.navbar__menu1__1,
.navbar__menu2__1 {
    margin-right: 10px;
}

.navbar__menu__common {
    border: none;
    background-color: white;
    color: #828282;
    cursor: pointer;
    font-size: 15px;
}

.navbar__menu2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar__menu1__1:hover,
.navbar__menu1__2:hover,
.navbar__menu2__1:hover,
.navbar__menu2__2:hover,
.fa-shopping-cart:hover {
    color: #A435F0;
}

/* Udemy popup */

.purchase-popup {
    position: relative;
}

.purchase-popup___1 {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    padding: 15px;
    right: 0;
    top: 20px;
    display: none;
}

.navbar-Udemy-tech:hover .purchase-popup___1 {
    display: block;
}

.navbar__menu2__1 {
    gap: 20px;

}

.cart-shopping__1 {
    color: gray;
    cursor: pointer;
    padding-left: 10px;

}

.navbar__menu3__1:hover {
    background-color: whitesmoke;
}

.navbar__menu3__2:hover {
    background-color: #A435F0;
}

.navbar__menu3__1 {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #892DE1;
    border: 1px solid #892DE1;
    border-radius: 10px;
    background-color: white;
    width: 80px;
    cursor: pointer;
    height: 42px;
}

.navbar__menu3__2 {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 1px solid #892DE1;
    border-radius: 10px;
    background-color: #892DE1;
    width: 93px;
    cursor: pointer;
    height: 42px;
}

.navbar__search {
    padding: 15px;
    border: solid 1px black;
    border-radius: 30px;
    width: 30%;
}

.navbar__search input {
    border: none;
    width: 85%;
    background-color: transparent;
}

.navbar__search input:focus {
    outline: none;
}

.navbar__search i {
    color: grey;
}

.categoties {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;

}

.categoties p {
    color: white;
    border-radius: 20px;
    background-color: #892DE1;
    padding: 10px;
    cursor: pointer;
}

.categoties p:hover {
    transition: 1s;
    background-color:#F9922D;
}

.sale-image {
    position: realtive;
}

.sale-image img {
    width: 100%;
    height: 350px;
}

.sale-image__1 {
    position: absolute;
    bottom: 40PX;
    left: 70px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    height: 50%;
    animation-name: sale-zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

@keyframes sale-zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sale-image__1 h1 {
    color: #2A2B3F;
    padding: 15px;
}

.sale-image__1 p {
    color: #828282;
    padding: 10px;
    margin-bottom: 10px;
    ;
}

.sale-image div button {
    background-color: #6D28D2;
    color: white;
    border-radius: 15px;
    padding: 15px;
    margin-left: 10px;
    border: none;
    font-weight: 800;

}

.sale-image div button:hover {
    background-color: #A435F0
}

.topics {
    margin: 15px;
}

.topics_category {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;

}

.topics_category p {
    padding: 15px;
    border: 2px solid grey;
    flex-basis: 25%;
}

.recommented {
    padding: 10px;
}

.recommented-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.recommented p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.course-card {
    width: 20%;
    height: 30%;
    flex-basis: 15%;
    flex-grow: 1;
    background-color: #F6F7F9;
    border: 1px solid #F6F7F9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.course-card:hover {
    background-color: #d3d3d3;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.pad-10 {
    padding-top: 10px;
}

.mar-10 {
    margin-top: 10px;
}

.pad-left-10 {
    padding-left: 10px;
}

.course-card__1 {
    background-color: #C2E9EB;
    color: black;
    padding: 3px;
    border-radius: 5px;
    border: none;
}

.footer {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    gap: 10px;
    color: white;
    background-color: black;
}

.footer_1 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;
}

.footer_1_img {
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.footer-2 {
    cursor: pointer;
}

.footer-2:hover {
    border-bottom: 2px solid white;
}

.footer_3 {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.explore-option {
    background-color: #2A2B3F;
    padding: 20px;
    border-top: white;
    color: white;

}

.explore-option h3 {
    padding-bottom: 10px;
    padding-top: 20px;
}

.skill {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.skill__1 {
    display: flex;
    flex-direction: column;
}

.skill__1 h4 {
    padding-bottom: 10px;
}

.skill__1 div {
    padding-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: fit-content;
}

.skill__1 div:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}